#selectable .ui-selecting {
    background: #FECA40;
}

#selectable .ui-selected {
    background: #F39814;
    color: white;
}

#selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

    #selectable li {
        margin: 3px;
        padding: 0.4em;
        font-size: 1.4em;
    }


#new_keyword {
    width:90%;
}
#new_keyword_score {
    width:20%;
}

::-webkit-input-placeholder  {     
    color: #d0d0d0;
    text-transform: capitalize;
    font-style: italic;}
input:-moz-placeholder {
    color: #d0d0d0;
    text-transform: capitalize;
    font-style: italic;
}

