<h1>Categories</h1>


<script type="text/html" id="selections-template">
    <div class="ym-grid" data-bind="with: Categories">
        <div class="options-group" data-bind="foreach: Options">
            <div class="options-group-header ym-gl ym-g33">
                <span class="options-name" data-bind="{text:OptionName,attr:{optionIndex:Index}}"></span>
            </div>
            <div data-bind="foreach:SubOptions">
                <div class="ym-grid">
                    <div class="ym-gl ym-g33">
                        <input type="checkbox" data-bind="{value:Id}" />
                    </div>
                    <div class="ym-gl ym-g33">
                         <span class="options-name" data-bind="{text:OptionName,attr:{optionIndex:Index}}"></span>   
                    </div>
                </div>               
                                  
               
            </div>
        </div>
    </div>
</script>
<div id="categories" class="options" data-bind="template:{name:'selections-template'}"></div>


