<h1 class="section-header">Locations</h1>
<script type="text/html" id="cities-template">
    <div data-bind="foreach:Cities">
        <div class="ym-grid" style="width: 250px; float: left">
            <div class="ym-gl ym-g20">
                <input type="checkbox" data-bind="{value:Index,checked:Selected}" />
            </div>
            <div class="ym-gr ym-g80">
                <span class="options-name" data-bind="{text:CityName,attr:{optionIndex:Index}}"></span>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="loading-template">
</script>
<script type="text/html" id="states-template">
    <div data-bind="foreach:States">
        <div class="state">
            <h3 data-bind="{text:StateName,attr:{index:Index}}"></h3>
            <div class="cities">
                <div class="loader-image" style="width: 100%; text-align: center">
                    <img src="@Url.Content("~/Content/shared/images/ajax-loader.gif")" />
                </div>
            </div>

        </div>
    </div>
</script>
<div data-bind="template:{name:'states-template'}"></div>
