<h1 class="section-header">Locations</h1>
<div class="section-content">
    <div data-bind="with: Locations">
        <div id="locations" class="options" data-bind="template:{name:'selections-template'}"></div>
    </div>
</div>
