<div class="section">
    <h1 class="section-header">Profile Info</h1>
    <div class="section-content">
        <input type="text" name="profileInfo" placeholder="Profile Title" data-bind="{value:ProfileName}" />      
    </div>
</div>
